<main id="app">

	<h1 id="Accueil">
		Accueil
	</h1>

<div id="divsec">
	<section id="sec1">
		<h1>8 à Huit </h1>
		<h2>Arc 1950</h2>

		<h3>Un supermarché élégant sur deux niveaux, proposant tout ce dont vous avez besoin pour votre séjour</h3>
		<img class="img_renseignement" src="https://noahcatalog1.blob.core.windows.net/img/59e53ff3-8224-40b1-a205-2fe45c003050.jpg" style="height: 200px;width: 300px;">
		<img class="img_renseignement" src="http://www.arc1950.com/GENERICimg/logo-1950_05.png" style="height: 175px ;width: 225px;"></a>
		<img class="img_renseignement" src="https://noahcatalog1.blob.core.windows.net/img/2a5d9582-c6d8-43ed-a818-558db9cb07b1.jpg" style="height: 200px;width: 300px;">
	

	</section>
	
	<section id="sec2">
		<img class="img_renseignement" src="http://media.sit.savoie-mont-blanc.com/original/172658/0-875638.jpg" style="height: 300px;width: 400px;">
		<h3>Profitez d'une vue imprennable et d'un paysage qui vous fera oublier votre quotidien, evadez vous!</h3>
	
	
	</section>
	<section id="sec3">
		<h3>Rayon boucherie, traiteur, rôtisserie, plat du jour, change et point presse. Livraison à domicile</h3>
		<img src="https://assets.kraftfoods.com/recipe_images/opendeploy/555630_2_3_retail-eebb3f8a4714c3547bf6b862ac64bd3177be1b47_642x428.jpg" style="height: 190px;width: 190px;">
		
	</section>
</div>			
			
			
		
</main>
