	<!-- Anthony chaussin cree le 27/11/2018 -->
<article id="inscription">
	<div class="content">
		<h1>Se connecter</h1>
		<form id="inscri" class="form" action="connexion.php" method="POST">
			<input type="hidden" name="value" value="login">
			<label for="mail">Mail</label>
			<input type="mail" name="mail" required="true">
			<label for="pwd">Mot de passe</label>
			<input type="password" name="pwd">
			<input type="submit" name="log">
		</form>
	</div>
	<div id="or"><h1>OU</h1></div>
	<div  class="content">
		<h1>Nouvel utilisateur</h1>
		<form class="form" action="huita8/pages/form_inscription-connection/inscription.php" method="POST">
			<input type="hidden" name="value" value="register">
			<label for="nom">Nom</label>
			<input type="name" name="nom">
			<label for="prenom">Prenom</label>
			<input type="name" name="prenom">
			<label>Numéro de téléphone</label>
			<input type="text" name="phone">
			<label>Numéro de réservation</label>
			<input type="text" name="resa">
			<label>Mail</label>
			<input type="text" name="mail">
			<label>Mot de passe</label>
			<input type="password" name="pwd">
			<label>Confirmer le mot de passe</label>
			<input type="password" name="pwdBis">
			<input type="submit" name="register">
		</form>
	</div>
	<div onclick="document.location.href = 'http://10.103.1.202/~huitahuit'"> X </div>
</article>