*{ margin:0px;padding:0px;}


/*couleur bleu du body*/
body {
	background-color:#cceaea;
	background-image: url(3.jpg);
	background-size: 200% auto;
	background-repeat: no-repeat;
}


/*Le css du header*/
header{
/*	background-color:rgb(42, 83, 150); */
	width: 100%;

	float: left;
	background-color: #76BAD3;
	
}


/*option css de connexion inscription et panier*/
.menuHead{
	display: inline-block;
	color: black;
	margin-left: 170px;

	font-size: 20px;
	text-decoration: none;
}

#Bt:hover{
	background-color: #1c463a;
	border: solid 3px #1c463a;
	transition: 0.5s;
	font-size: 25px
}

/*image du huit a huit*/
.imgHead{
	width: 20%;
	height: 20%;
}

#Accueil{
	margin: 0px 300px -150px 300px;
	font-size: 4em;
}

section{
	border-top: solid 3px black;
	background-color: #76BAD3;
	margin-bottom: 150px; 
	text-align:center;
}
#sec1 h1{
	color: green;
}

#divsec{
	background-color: #76BAD3;
	margin: 150px 300px 150px 300px;
}

#divsec h3{
	margin-top: 15px;
}

.img_renseignement{
	margin: 50px 25px 25px ;
}


/*La fin du css du header*/
#entete {
width: 100%;
height: 230px;
display: block;


/*margin: 0 auto 5px auto; sert a Centre le div entete*/
} 
 
/*Taille des images logo et alignement à gauche*/
img.logo {
width: 68px;
height: 75px;
float:left; }
 
/*Taille du conteneur central et alignement à gauche (du conteneur!)*/


button
{
	background:grey;
	color:#fff;
	border:none;
	outline:none;
	padding:0 10px;
	border-radius:5px;
}
button:hover{
	background:green;
	box-shadow:0 2px 5px rgba(0,0,0,.5);
}


#footsec{
border-top: solid 3px black;
	background-color: #76BAD3;
	margin: 150px; 
	text-align:center;
}

footer h3{
	text-decoration: underline;
}

footer h5{
	color: red;
}
