*{ margin:0px;padding:0px;}


/*couleur bleu du body*/
body {
	/*background-color:rgb(99, 150, 232);*/
}

.valide{
	background-color: #d0d0d0;
    width: auto;
    height: auto;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}

.retour{
	width: 70px;
	height: 50px;
	margin-right: 20px;
}

.texte{
	padding-bottom: 2px;
    padding-top: 2px;
    width: 250px;
}

.num{
	width: 75px;
}

.nombre{
	width: 50px;
}

#admintitle{
	font-family: Arial, sans-serif;
	text-align: center;
}

.imgTab{
	width: 100px;
}

.cell{
	border: solid 2px;
	text-align: center;

}

#tableauAdmin{
	font-family: Arial, sans-serif;
	margin: 10px auto;
    width: 1000px;
    border-collapse:collapse
    /*border: solid;*/
}

.valide{
	margin: auto;
	display: block;
}

#menu{

	margin-right: auto;
	margin-left: auto;
	width: 575px;
	height: 500px;
}

.bouton{
	display: inline-block;
	width: 150px;
	height: 50px;
	margin-top: 30px;
	padding: 50px 50px 50px 50px;
	margin-bottom: 20px;
	margin-right: 20px;
	font-size: 20px;
	background-color: cyan;
	border: black solid 3px;
	text-align: center;
	text-decoration: none;
	color: black;
}

/*Le css du header*/
header{
	display: flex;
	background-color:rgb(42, 83, 150); 
	width: 100%;
	height: 100%;
	float: left;
	background-image: url(3.jpg);
	margin-bottom: 50px;
}


/*option css de connexion inscription et panier*/
.menuHead{
	display: inline-block;
	color: black;
	border: solid 2px white;
	background-color: white;
	margin-left: 10px;
	float:right;
	margin-top: 20px;
	font-size: 20px;
	text-decoration: none;
}

/*image du huit a huit*/
.imgHead{
	width: 20%;
	height: 20%;
}



/*La fin du css du header*/
#entete {
width: 100%;
height: 230px;
display: block;


/*margin: 0 auto 5px auto; sert a Centre le div entete*/
} 
 
/*Taille des images logo et alignement à gauche*/
img.logo {
width: 68px;
height: 75px;
float:left; }
 
/*Taille du conteneur central et alignement à gauche (du conteneur!)*/
#centre {
background-color: silver;
width: 340px;
height: 75px;
float: left; }
 
/*Taille de l'image centrale, transformation en bloc puis centrage au sein de la div*/
#centre img {
width: 493px;
height: 251.253px;
display: block;
margin: auto; 
}

/*panier sous la photo de l'article */
#panier{
	margin-left:3%;
}

#nb{
	size:30px;
	margin-left:5%;
}


/*disposition prix/panier*/
.fle{
	display:flex;
}

/*zone menu navigable*/
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #1c463a;
    overflow-x: hidden;
    padding-top: 20px;
    top:14.345em;
}
/*texte menu navigable*/
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #afd045;
    display:block;
}
/*effet de la souris menu navigable*/
.sidenav a:hover {
    color: #1c463a;
    background-color: #afd045;
    font-weight: bold;
    width:100%;
}


/*centrage des produits*/
.product_list {

    margin-left: 160px;
    height: 400px;

}

/*css de tout les produits*/
.product {
    display: inline-block;
    height: 345px;
    width: 300px;
    border: solid 1px red;
    margin: 3%;
    border-radius: 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}






/*fond produit*/
img{
	border:none;
}
.border{
	width: auto;
	height:343px;
	border:solid 1px #d0d0d0;
	background-color:mediumturquoise;
	margin:0 auto 0 auto;
	border-radius: 10px;
}


/*.vignette_pictos
{

	width:55px;
	text-align: right;
	right:1px;
	top:3px;
	z-index:1;
}
*/

.vignette_info{
	height:64px;
	text-align:center;
}

.vignette_img{
	width:190px;
	height:190px;
	position:relative;
	margin:auto;
	margin-top:10px;
	cursor:pointer;
}
.vignette_remise{
	display: none;
}

.box{
	margin-right:20%;
}
.barreNbPro{
	width:30px;
}
/*input
{
	border:none;
	outline:none;
	padding:5px;
	border-radius:5px;
	box-shadow:0 2px 5px rgba(0,0,0,.5);
	margin:0 5px !important;
	
}
input:hover,input:focus{
	background-color:darkgreen;
	color:#fff;
}*/
button
{
	background:grey;
	color:#fff;
	border:none;
	outline:none;
	padding:0 10px;
	border-radius:5px;
}
button:hover{
	background:green;
	box-shadow:0 2px 5px rgba(0,0,0,.5);
}
/*pour les button d'increment et decrement*/
.nice-number {
  display: inline-flex;
  justify-content: stretch;
}

/*.nice-number input {
  vertical-align: middle;
  -moz-appearance: textfield;
  box-sizing: content-box;
  margin: 0;
  text-align: center;
}*/

/*.nice-number input::-webkit-inner-spin-button,
.nice-number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/

/*pour l'animation du menu*/

/* Les animations d'entrée (« enter ») et de sortie (« leave »)  */
/* peuvent utiliser différentes fonctions de durée et de temps.  */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-10px);
  opacity: 0;
}

/*fin css anim menu*/